<div id="app-header" class="container-fluid">
	<div class="row">
		<div class="menu-top-bg">
			<div class="container-fluid app-header-top">
				<div class="menu-top">
					<ul id="nav-top" class="list-inline row">
						<li class="col-xs-1 back hidden activar">
							<i class="fa fa-3x fa-angle-left header-back hidden-xxs"></i>
							<i class="fa fa-2x fa-angle-left header-back visible-xxs-inline-block"></i>
						</li>
						<li class="col-xs-12 menu-profesional">
							<div class="dropdown text-right">
								<% if (logueado) { %>
								<a data-toggle="dropdown" id="menuUser" class="toggle-dropdown activar" data-dropdown="menuUser-list" >
									<i class="fa fa-lg fa-user hidden-xs"></i>
									<span class="hidden-xs">Bienvenido</span><strong> <%= username %></strong>&nbsp;&nbsp;<i class="fa fa-bars fa-lg"></i>
								</a>
								<% } else { %>
								<a href="#login" class="classic-link header-login activar">
									<i class="fa fa-lg fa-user hidden-xxs"></i>
									<i class="fa fa-user visible-xxs-inline-block"></i>
									<strong> INICIAR SESIÓN</strong>&nbsp;&nbsp;
								</a>
								<!-- <a data-toggle="dropdown" id="menuUser" class="toggle-dropdown" data-dropdown="menuUser-list">
									<i class="fa fa-bars fa-lg"></i>
								</a> -->
								<% } %>

								<% if (logueado) { %>
								<ul id="menuUser-list" class="list-unstyled dropdown-menu pull-right" role="menu" aria-labelledby="menuUser">
									<!-- <li role="presentation"><a role="menuitem" href="#datos"><strong>Mis datos</strong></a></li> -->
									<!-- <li role="presentation"><a role="menuitem" href="#configuracion" class="classic-link"><strong>Configuración</strong></a></li> -->
									<li role="presentation"><a role="menuitem" href="#changeuser" class="classic-link"><strong>Cambiar usuario</strong></a></li>
									<li role="presentation" class="divider"></li>
									<li role="presentation"><a role="menuitem" id="logout" href="#logout" class=""><i class="fa fa-lg fa-sign-out texto-azul">&nbsp;&nbsp;</i><strong class="texto-azul">Cerrar Sesión</strong></a></li>
								</ul>
								<% } %>

							</div>
						</li>
					</ul> <!-- nav-top-->
				</div> <!--/menu-top-->
			</div> <!--/container-->
		</div> <!--/menu-top-bg (azul, nombre usuario)-->
		<div id="app-header-menu" class="container-fluid">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4">
					<div class="logo-container"><a class="text-hide classic-link" href="#home"></a></div>
				</div>
				<div class="col-xs-8 col-sm-8 col-md-7">
					<nav class="menu-principal hidden-xs">  <!-- menu estirado -->
						<ul id="main-nav" class="list-inline row">
							<li id='menuitem-inicio' class='col-sm-3'>
								<a href="#home" class="classic-link">Inicio</a>
							</li>
							<li id='menuitem-resultados' class='col-sm-3'>
								<a href="#resultados" class="classic-link">Mis análisis</a>
							</li>
							<!-- <li id='menuitem-configuracion'>
								<a href="#configuracion" class="classic-link">Configuración</a>
							</li> -->
							<li id='menuitem-laboratorios' class='col-sm-3'>
								<a href="#laboratorios" class="classic-link">Laboratorios</a>
							</li>
							<li id='menuitem-info' class='col-sm-3'>
								<a href="#info" class="classic-link">Información</a>
							</li>
						</ul>
					</nav>
					<div class="dropdown visible-xs"> <!-- menu select -->
						<a data-toggle="dropdown" id="menu-principal-xs" class="toggle-dropdown activar" data-dropdown="menu-principal-xs-list" >
							<span class='menu-principal-xs-activo' id='menu-principal-xs-inicio'>INICIO</span>
							<span class='menu-principal-xs-activo' id='menu-principal-xs-resultados'>MIS ANÁLISIS</span>
							<!-- <span class='menu-principal-xs-activo' id='menu-principal-xs-configuracion'>CONFIGURACIÓN</span> -->
							<span class='menu-principal-xs-activo' id='menu-principal-xs-laboratorios'>LABORATORIOS</span>
							<span class='menu-principal-xs-activo' id='menu-principal-xs-info'>INFORMACIÓN</span>
							<span class="caret"></span>
						</a>

						<ul id="menu-principal-xs-list" class="dropdown-menu list-unstyled pull-right" role="menu" aria-labelledby="menu-principal-xs">
							<li role="presentation"><a role="menuitem" href="#home" class="classic-link dropdown-link">Inicio</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" href="#resultados" class="classic-link dropdown-link">Mis análisis</a></li>
							<li role="presentation" class="divider"></li>
							<!-- <li role="presentation"><a role="menuitem" href="#configuracion" class="classic-link dropdown-link">Configuración</a></li>
							<li role="presentation" class="divider"></li> -->
							<li role="presentation"><a role="menuitem" href="#laboratorios" class="classic-link dropdown-link">Laboratorios</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" href="#info" class="classic-link dropdown-link">Información</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix visible-xs-block"></div>
			</div>
		</div>	<!--/container-fluid (logo, nav)-->
	</div>

</div>	<!-- /app-header -->
