<div id="app-home" class="container-fluid container-fluid_max">
	<!-- sin row para que pueda estirarse -->
	<div class="col-sm-12 home-item destacado">
		<div class="home-boton boton destacado" data-href="#resultados">
			<div class="banner banner-horizontal contenedor--gris_claro">
				<div class="header--banner contenedor--azul contenedor-con-punta">
					<span class="texto-invertido h4">Resultados de mis análisis</span>
					<div class="punta--derecha punta--azul"></div>
				</div>
				<div class="contenido--banner derecha">
					<span class="mega-octicon octicon-microscope texto-azul"></span>
				</div>
			</div>
		</div> 
	</div>
	<!-- <div class="col-sm-6 home-item">
		<div class="home-boton boton" data-href="#configuracion">
			<div class="banner banner-horizontal contenedor--gris_claro">
				<div class="contenido--banner izquierda">
					<span class="mega-octicon octicon-gear texto-violeta"></span>
				</div>
				<div class="header--banner contenedor--violeta contenedor-con-punta pull-right">
					<span class="texto-invertido h4">Configuración</span>
					<div class="punta--izquierda punta--violeta"></div>
				</div>
			</div>
		</div>
	</div> -->

	<!--<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>-->

	<div class="col-sm-12 col-md-6 home-item">
		<div class="home-boton boton" data-href="#laboratorios">
			<div class="banner banner-horizontal contenedor--gris_claro">
				<div class="header--banner contenedor--azul_oscuro contenedor-con-punta">
					<span class="texto-invertido h4">Laboratorios</span>
					<div class="punta--derecha punta--azul_oscuro"></div>
				</div>
				<div class="contenido--banner derecha">
					<span class="mega-octicon octicon-location texto-azul_oscuro"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 home-item">
		<div class="home-boton boton" data-href="#info">
			<div class="banner banner-horizontal contenedor--gris_claro visible-xs visible-sm">

				<div class="header--banner contenedor--violeta_oscuro contenedor-con-punta">
					<span class="texto-invertido h4">Información &amp; Contacto</span>
					<div class="punta--derecha punta--violeta_oscuro"></div>
				</div>
				<div class="contenido--banner derecha">
					<span class="mega-octicon octicon-info texto-violeta_oscuro"></span>
				</div>
			</div>
			<div class="banner banner-horizontal contenedor--gris_claro hidden-xs hidden-sm">
				<div class="contenido--banner izquierda">
					<span class="mega-octicon octicon-info texto-violeta_oscuro"></span>
				</div>

				<div class="header--banner contenedor--violeta_oscuro contenedor-con-punta pull-right">
					<span class="texto-invertido h4">Información &amp; Contacto</span>
					<div class="punta--izquierda punta--violeta_oscuro"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 botones-social">
		<div class="row redes-sociales contenedor--azul">

			<div class="col-xs-4">
				<a href="#" class="external-link boton">
					<i class="fa fa-2x fa-external-link hidden-xxs"></i>
					<i class="fa fa-lg fa-external-link visible-xxs-inline-block"></i>
				</a>
			</div>	
			<div class="col-xs-4">
				<a href="#" class="external-link boton">
					<i class="fa fa-2x fa-facebook hidden-xxs"></i>
					<i class="fa fa-lg fa-facebook visible-xxs-inline-block"></i>
				</a>

			</div>
			<div class="col-xs-4">	
				<a href="#" class="external-link boton">
					<i class="fa fa-2x fa-twitter hidden-xxs"></i>
					<i class="fa fa-lg fa-twitter visible-xxs-inline-block"></i>

				</a>
			</div>
			
		</div>
		
	</div>
	

	
</div>