<div id="app-info" class="container-fluid container-fluid_max">

    <div class="col-sm-6 home-item">
        <div class="home-boton boton">
            <div class="banner banner-horizontal contenedor--gris_claro external-link" data-href="http://www.iaca.com.ar/indicaciones.html">
                <div class="header--banner contenedor--azul contenedor-con-punta">
                    <span class="texto-invertido h5"><strong>Indicaciones para Análisis</strong></span>
                    <div class="punta--derecha punta--azul"></div>
                </div>
                <div class="img--banner pull-right"
                     style="background-image: url('img/banner-instrucciones_analisis.jpg');"></div>
            </div>
        </div>
    </div>  <!--/boton Indicaciones para analisis-->
    <div class="col-sm-6 home-item">
        <div class="home-boton boton">
            <div class="banner banner-horizontal contenedor--gris_claro external-link" data-href="http://www.iaca.com.ar/pacientes.html#preguntas_frecuentes">
                <div class="img--banner pull-left" style="background-image: url('img/banner_preguntas.jpg');"></div>
                <div class="header--banner contenedor--violeta contenedor-con-punta pull-right">
                    <span class="texto-invertido h5"><strong>Preguntas Frecuentes</strong></span>

                    <div class="punta--izquierda punta--violeta"></div>
                </div>
            </div>
        </div>
    </div> <!--/ boton preguntas frecuentes-->
    <!--<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>-->

    <div class="col-sm-6 home-item">
        <div class="home-boton boton">
            <div class="banner banner-horizontal contenedor--gris_claro external-link" data-href="http://www.iaca.com.ar/profesionales.html">
                <div class="header--banner contenedor--azul_oscuro contenedor-con-punta">
                    <span class="texto-invertido h5"><strong>Nuestros Profesionales</strong></span>
                    <div class="punta--derecha punta--azul_oscuro"></div>
                </div>
                <div class="contenido--banner derecha">
                    <!--<span class="mega-octicon octicon-location texto-azul_oscuro"></span>-->
                    <span class="fa fa-user-md fa-3x texto-azul_oscuro"></span>
                    <!--<i class="fa fa-user-md fa-3x texto-azul_oscuro"></i>-->
                </div>
            </div>
        </div>
    </div> <!--/ boton Profesionales-->
    <div class="col-sm-6 home-item">
        <div class="home-boton boton">
            <div class="banner banner-horizontal contenedor--gris_claro external-link" data-href="http://www.iaca.com.ar/news.html">
                <div class="contenido--banner izquierda">
                    <span class="fa fa-rss fa-3x texto-violeta_oscuro"></span>
                </div>

                <div class="header--banner contenedor--violeta_oscuro contenedor-con-punta pull-right">
                    <span class="texto-invertido h5"><strong>IACA News</strong></span>

                    <div class="punta--izquierda punta--violeta_oscuro"></div>
                </div>
            </div>
        </div>
    </div>  <!--/boton iaca News-->

    <!--<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>-->

<!--CONTACTO-->
    <div class="col-sm-12 app-info_contacto">

        <div class="banner banner-horizontal banner_contacto contenedor--gris_claro">        
            <div class="header--banner contenedor--azul contenedor-con-punta external-link" data-href="http://www.iaca.com.ar/contacto.html#reclamos-sugerencias">
                <p class="h3 texto-invertido">Contáctenos</p>
                <div class="punta--derecha punta--azul hidden-xs"></div>
            </div>

            <div class="contenedor_sede">
                <p class="h5">Sede San Martín</p>
                <p><i class="fa fa-map-marker texto-azul">&nbsp;&nbsp;</i> San Martín 68 - Bahía Blanca</p>
                <p><i class="fa fa-phone texto-azul">&nbsp;&nbsp;</i> +54-0291-459-9999</p>
                <p><i class="fa fa-envelope-o texto-azul">&nbsp;&nbsp;</i> laboratorios@iaca.com.ar</p>
            </div> <!--/.contenedor_sede san martin-->

            <div class="contenedor_sede">
                <p class="h5">Sede Rodríguez</p>
                <p><i class="fa fa-map-marker texto-azul">&nbsp;&nbsp;</i> Rodríguez 702 - Bahía Blanca</p>
                <p><i class="fa fa-phone texto-azul">&nbsp;&nbsp;</i> +54-0291-459-9999</p>
                <!--<p><i class="fa fa-envelope-o texto-azul">&nbsp;&nbsp;</i> laboratorios@iaca.com.ar</p>-->
            </div> <!--/.contenedor_sede rodriguez-->

            <div class="contenedor_sede">
                <p class="h5">Sede Darwin</p>
                <p><i class="fa fa-map-marker texto-azul">&nbsp;&nbsp;</i> Darwin 530 - Bahía Blanca</p>
                <p><i class="fa fa-phone texto-azul">&nbsp;&nbsp;</i> +54-0291-459-9955</p>
                <!--<p><i class="fa fa-envelope-o texto-azul">&nbsp;&nbsp;</i> laboratorios@iaca.com.ar</p>-->
            </div> <!--/.contenedor_sede rodriguez-->

        </div> <!--/.banner-horizontal contacto sedes-->
    </div> <!--/.app-info_contacto-->

    <div class="col-xs-12 app-wrapper-certificaciones">
        <div class="app_certificaciones">
            <div class="contenedor--celeste">
                <p class="h4">Certificaciones</p>
            </div>

            <div class="contenedor--blanco"><img class="iconos_certificaciones" src="img/iconos_certficaciones--test.png" alt="test"/></div>
        </div><!--/.app_certificaciones-->

    </div>

</div>