<div id="app-labos" class="container-fluid container-fluid_max">
	<!-- sin row para que pueda estirarse -->
	<div class="col-sm-6 col-md-4 labos-item">
		<div class="labos-boton boton" data-lab="sanmartin">
			<div class="banner banner-horizontal contenedor--blanco">
				<div class="header--banner contenedor--gris contenedor-con-punta pull-left">
					<div class="texto--banner">
						<div class="centrar">
							<h5 class="texto-negro"><strong>Sede San Martín</strong></h5> 
							<span class="texto-negro texto--normal hidden-xxs visible-xs">
								<i>San Martín 68, Bahía Blanca</i>
							</span>
							<span class="texto-negro texto--normal hidden-xxs hidden-xs">
								<i>San Martín 68</i>
							</span>
							<span class="texto-negro texto--normal visible-xxs-block hidden-xs">
								<i>Bahía Blanca</i>
							</span>
						</div>						
					</div>
					<div class="punta--derecha punta--gris"></div>
				</div>
				<div class="img--banner pull-right" style="background-image: url('img/labos/boton--sede-san-martin.jpg');"></div>
			</div>
		</div> 
	</div>
	<div class="col-sm-6 col-md-4 labos-item">
		<div class="labos-boton boton" data-lab="rodriguez">
			<div class="banner banner-horizontal contenedor--blanco">
				<div class="img--banner pull-left" style="background-image: url('img/labos/boton--sede-rodriguez.jpg');"></div>
				<div class="header--banner contenedor--celeste contenedor-con-punta pull-right">
					<div class="texto--banner">
						<div class="centrar">
							<h5 class="texto-negro"><strong>Sede Rodríguez</strong></h5> 
							<span class="texto-negro texto--normal hidden-xxs visible-xs">
								<i>Rodríguez 710, Bahía Blanca</i>
							</span>
							<span class="texto-negro texto--normal hidden-xxs hidden-xs">
								<i>Rodríguez 710</i>
							</span>
							<span class="texto-negro texto--normal visible-xxs-block hidden-xs">
								<i>Bahía Blanca</i>
							</span>
						</div>						
					</div>
					<div class="punta--izquierda punta--celeste"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 labos-item">
		<div class="labos-boton boton" data-lab="darwin">
			<div class="banner banner-horizontal contenedor--blanco">
				<div class="header--banner contenedor--violeta contenedor-con-punta pull-left">
					<div class="texto--banner">
						<div class="centrar">
							<h5 class="texto-negro"><strong>Sede Darwin</strong></h5> 
							<span class="texto-negro texto--normal hidden-xxs visible-xs">
								<i>Darwin 530, Bahía Blanca</i>
							</span>
							<span class="texto-negro texto--normal hidden-xxs hidden-xs">
								<i>Darwin 530</i>
							</span>
							<span class="texto-negro texto--normal visible-xxs-block hidden-xs">
								<i>Bahía Blanca</i>
							</span>
						</div>						
					</div>
					<div class="punta--derecha punta--violeta"></div>
				</div>
				<div class="img--banner pull-right" style="background-image: url('img/labos/boton--sede-darwin.jpg');"></div>
			</div>
		</div> 
	</div>
	<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
</div>
<div id="map">
	<a id="reload">Cargar mapa</a>
	<div id="map_canvas"></div>
</div>
