<div id="app-resultados" class="container-fluid container-fluid_max">

	<div class="row header-resultados">
		<span class="h3 texto-azul">Resultados de análisis </span>
		<span id="nombre-paciente" class="texto-gris_oscuro"></span>
		<i id="update" class="fa fa-refresh fa-lg"></i>
	</div>
	

	<div id="error-get-results" class="mensaje--alerta">
	</div>

	<!--Header tabla min-xs-->
	<div class="contenedor--azul_oscuro hidden-xxs row barra-tabla">
		<div class="col-xs-2 columna-tabla text-left-xs">
		    <span class="texto-invertido">Leído</span>
		</div>
        <div class="col-xs-3 columna-tabla text-left-xs">
            <span class="texto-invertido">Fecha</span>
        </div>
        <div class="col-xs-3 columna-tabla text-left-xs">
            <span class="texto-invertido">Protocolo</span>
        </div>
        <div class="col-xs-2 columna-tabla">
            <span class="texto-invertido">Ver imagen</span>
        </div>
        <div class="col-xs-2 columna-tabla">
            <span class="texto-invertido">Bajar PDF</span>
        </div>
	</div> <!--/Header tabla min-xs-->

	<!--Header tabla xxs-->
	<div class="contenedor--azul_oscuro visible-xxs row barra-tabla">
		<div class="col-xs-2">
			<div class="row columna-tabla doble-linea text-left-xs">
				<span class="texto-invertido">Leído</span>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="row columna-tabla text-left-xs">
			    <span class="texto-invertido">Fecha</span>
			</div>
			<div class="row columna-tabla text-left-xs">
			    <span class="texto-invertido">Protocolo</span>
			</div>
		</div>
        <div class="col-xs-offset-1 col-xs-2">
			<div class="row columna-tabla doble-linea doble-renglon">
			    <span class="texto-invertido">Ver imagen</span>
			</div>
		</div>
		<div class="col-xs-offset-1 col-xs-2">
			<div class="row columna-tabla doble-linea doble-renglon">
			    <span class="texto-invertido">Bajar PDF</span>
			</div>        	
        </div>
	</div> <!--/Header tabla xxs-->
	

	<!--Div lista resultados-->
	<div class="resultados row">

		<div id="updating-results">
			<i class="fa fa-spinner fa-2x fa-spin"></i>
		</div>
		<ul id="lista-resultados" class="lista_resultados list-unstyled col-xs-12">
			
		</ul>
		<div id="ver-mas-results">
			<a id="ver-mas">Ver más</a>
		</div>
		<div id="no-results" class="mensaje--alerta">
			<div class="alert alert-warning alert-dismissable">
				<p id="mensaje_no-results">No hay resultados de análisis de este paciente</p>
			</div>
		</div>
	</div>
	




</div>