<div id="app-resultados" class="container-fluid container-fluid_max">

	<div class="row header-resultados">
		<span class="h3 texto-azul">Resultados de análisis </span>
		<span id="nombre-paciente" class="texto-gris_oscuro"></span>
		<i id="update" class="fa fa-refresh fa-lg activar"></i>
	</div>


	<div id="error-get-results" class="mensaje--alerta">
	</div>

	<!--Header tabla -->
	<div class="contenedor--azul_oscuro row barra-tabla">
		<div class="col-xs-2 columna-tabla text-left-xs">
		    <span class="texto-invertido">Leído</span>
		</div>
        <div class="col-xs-3 columna-tabla text-left-xs">
            <span class="texto-invertido">Fecha</span>
        </div>
        <div class="col-xs-5 columna-tabla text-left-xs">
            <span class="texto-invertido">Análisis</span>
        </div>
        <div class="col-xs-2 columna-tabla">
            <span class="texto-invertido">Bajar PDF</span>
        </div>
	</div> <!--/Header tabla -->

	<!--Div lista resultados-->
	<div class="resultados row">

		<div id="updating-results">
			<i class="fa fa-spinner fa-2x fa-spin"></i>
		</div>
		<ul id="lista-resultados" class="lista_resultados list-unstyled col-xs-12">

		</ul>
		<div id="ver-mas-results">
			<a id="ver-mas">Ver más</a>
		</div>
		<div id="no-results" class="mensaje--alerta">
			<div class="alert alert-warning alert-dismissable">
				<p id="mensaje_no-results">No hay resultados de análisis de este paciente</p>
			</div>
		</div>
	</div>

	<!-- link resultados anteriores a 26/06/2017 -->
	<div class="acceso-web-resultados-anteriores">
		<div id="boton-acceso-resultados-anteriores" class="external-link boton"
			data-href="https://www.iaca.com.ar/acceso_paciente.html">
			<div class="banner-horizontal texto-invertido">
				<i class="fa fa-external-link"></i>
				Consultar resultados de exámenes<br><strong>anteriores al 26/06/2017</strong>
			</div>
		</div>
	</div>





</div>