<?xml version='1.0' encoding='utf-8'?>
<widget id="com.imotionconsulting.iaca-laboratorios" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IACALaboratorios</name>
    <description>
        IACA Laboratorios
    </description>
    <author email="diego.sch21@gmail.com" href="http://imotionconsulting.com.ar">
        IMotion Consulting
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
